{{ define "main" -}}
  <div class="posts">
    {{- $pages := where .Site.Pages "Type" "post" -}}
    {{- $paginator := .Paginate $pages -}}

    {{ range $paginator.Pages }}
      <article class="post">
        {{ if .Title }}
          <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>
        {{ end }}

        <div class="post-date">
          <a href="{{ .Permalink }}"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></a> 
          {{ if gt .ReadingTime 2 }}
            &middot; {{ .ReadingTime }} min read
          {{ end }}
        </div>

        <div>
          {{ .Summary }}
        </div>

        {{ if .Title }}
          <div class="read-more-link">
            <a href="{{ .Permalink }}">Read More</a>
          </div>
        {{ end }}
      </article>
    {{- end }}
  </div>

  {{ template "_internal/pagination.html" . }}
{{- end }}
